<section class="container">
  
  <!-- App header -->
  <header class="row">
    
    <div class="col-xs-12">
      <h1 class="text-center" app-name>SSP Guest Book</h1>
      
      <div class="lead">
        <p>Hi, there!</p>

        <p>
          You watching test app by vasiliy0s especially created for {{APP_NAME}}.
          This is SPA builded with <strong><abbr>MEAN</abbr></strong> stack: 
          <strong>M</strong>ongoDB (via Mongoose), 
          <strong>E</strong>xpress.js (for RESTful), 
          <strong>A</strong>ngular.js (works in your current browser), 
          <strong>N</strong>ode.js (server-side JavaScript).
        </p>

        <p>
          You can:
          <ul>
            <li>view added comments</li>
            <li>like/dislike comments</li>
            <li>add own comment</li>
            <li>edit/delete exists comments</li>
            <li>soft by likes / creation date</li>
          </ul>
        </p>

        <p>Enjoy!</p>
      </div>
      
      <app-space-filler></app-space-filler>
    </div>
  </header>
  
  <!-- Comments sorting form -->
  <div class="row">
    <div class="text-right col-xs-12">
      <div class="form-inline">
        
        <!-- Sorter selection -->
        <div class="input-group">
          <span class="input-group-addon">Sort by</span>
          <select class="form-control"
              ng-model="comments.selectedSorter">
            <option value="{{$index}}" ng-repeat="sorter in comments.sorters">{{sorter.title}}</option>
          </select>
          
          <!-- Sort reversing -->
          <label class="input-group-addon">
            <input type="checkbox" 
                ng-model="comments.sortASC">
            <span>Reverse</span>
          </label>
        </div>
      </div>
      
      <app-space-filler></app-space-filler>
    </div>
  </div>
  
  <!-- Comments section -->
  <div class="row">    
    <div class="col-xs-12">
      
    <!-- Comments list -->
    <ul class="list-group" scrollable="appCommentsList">
      <!-- Comment view -->
      <li class="list-group-item" 
          ng-repeat="comment in comments.list | orderBy:comments.sorters[comments.selectedSorter].expr:comments.sortASC" 
          ng-if="comment">
        <div app-comment ng-if="!comments.isEditing(comment)"></div>
        <div app-comment-form ng-if="comments.isEditing(comment)"></div>
      </li>
      
      <!-- Comments loading message -->
      <li class="list-group-item" ng-show="comments.in('loading')">
        <p class="text-center">
          <span>
            Comments loading...
          </span>
        </p>
      </li>
      
      <!-- New comment form -->
      <li class="list-group-item" 
          ng-repeat="comment in [comments.newComment]"
          ng-if="comments.newComment">
        <div app-comment-form></div>
      </li>
    </ul>
    
    </div>
  </div>
  
  <!-- Alert flashing -->
  <div class="flash-message-container">
    <div flash-message="20000"></div>
  </div>
</section>
